<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">문의하기</h2>
                <hr class="primary">
                <p>궁금한점은 언제든 연락주세요! <br />포스페이스는 항상 열려있습니다.</p>
            </div>

        <div class="col-lg-2 col-lg-offset-5 text-center">
            <a href="http://pf.kakao.com/_axbmsT/chat">
                <i class="fa fa-comments fa-3x wow bounceIn" data-wow-delay=".0.05s"></i>
                  <p>카카오톡 플러스친구</p>
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-5 text-center">
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay="0.09s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <!--
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
        -->
    </div>
</section>
