<section class="copyright" id="footer">
    <div class="container">
        <p class="copyright" style="text-align: center;">포스페이스랩 주식회사 | 서울시 강남구 논현로 419, 12층 | 대표 승영욱 | 사업자등록번호 376-87-01436 | 이메일 info@forspacelab.com | 전화 0507-1371-4004 | 통신판매업신고 제2019-서울강남-02577호
            <br><a href="https://www.notion.so/forspacelab/19f4e9b85f0540a6adde13e56af36145">이용약관</a> | <a href="https://www.notion.so/forspacelab/15c4b513137d4fc3acb50c5902a392b6">개인정보 처리방침</a>
            <br>© forSPACElab. All rights reserved.</p>
    </div>
</section>
