<section class="bg-secondary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">서비스 소개</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary"></i>
                    <h3>리뷰 댓글 작성</h3>
                    <p class="text-muted">바쁜 사장님 대신 댓글을 작성해 드리고 <br />리뷰에 대한 월간 리포트도 보내드립니다.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>위험 리뷰 긴급 알림</h3>
                    <p class="text-muted">신뢰를 훼손할 수 있는 악성 리뷰, <br />최대 3시간 내 빠르게 알려드립니다.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gift wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>이벤트 배너 제작</h3>
                    <p class="text-muted">리뷰와 별점 상승의 필수과정 이벤트,<br />포스페이스로 시작해보세요.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="service-box">
          <a href="https://www.notion.so/forspacelab/9e062bc52271499c8189bd192a8842a4" class="btn btn-xl" target="new">👉서비스 자세히 알아보기</a>
        </div>
    </div>
</section>
